JETSTREAM_URL=wss://jetstream2.us-east.bsky.network/subscribe
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
BRAND_KEYWORDS=apple # Update this to keyword you want to track
LANG_FILTER=en
DUCKDB_PATH=./data/sentiment.duckdb
JETSTREAM_CURSOR_PATH=./data/jetstream_cursor.txt
